@media (min-width: 200px) and (max-width: 1150px) {
  body {
    height: 3000px;
  }

  .conteudoCadastro {
    height: 1350px;
  }

  .conteudoCadastro .boxForm {
    width: 350px;
    padding: 35px;
    height: 1080px;
  }

  .boxForm form{
    display: flex;
  }

  .conteudoCadastro .selectGen .selectGenMasc {
    margin-left: 40px;
  }

  .conteudoCadastro .termosCond p{
    font-size: 14px;
  }
}

body {
  height: 1500px;
}

.conteudoCadastro {
  margin-top: 50px;
}

.conteudoCadastro .marca h1{
  display: flex;
  justify-content: center;
  font-family: 'Cinzel', Arial;
  font-size: 35px;
  margin-bottom: 30px;
}

.boxForm {
  background-color: rgb(173, 216, 230);
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  width: 400px;
  height: 1050px;
  margin: auto;
}

.boxForm form{
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 30px;
}

.boxForm .formInput .buttonCc{
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1em;
  outline: none;
  background-color: rgba(153, 64, 236);
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.boxForm .formInput .buttonCc:active{
  transform: translate(0, 1px);
  box-shadow: 0 0 0, inset 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.boxForm .formInput input{
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1em;
  outline: none;
  margin-top: 5px;
}

.boxForm .formInput input:focus{
  border: 1px solid rgba(153, 64, 236);
  box-shadow: inset 0px 0px 5px 1px rgba(153, 64, 236, 0.2);
}

.boxForm .formInput label{
  padding-left: 10px;
  font-weight: 500;
}

.boxForm .formInput label:active {
  color: rgba(153, 64, 236);
}

.boxForm .formInput .reqCadast {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  color: rgb(75, 75, 75);
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.genero .selectGen input[type=radio] {
  margin: 0;
  border: 0px;
  width: 18px;
  height: 18px;
  vertical-align: top;
}

.boxForm .formInput .genero h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.selectGen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 15px;
}

.formInput .termosCond {
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
  font-size: 15px;
}
