@media (max-width:900px) {
  .conteudoContainer .linhaConteudo .linhaProdutos {
    grid-template-columns: 1fr;
    justify-content: space-around;
    padding: 0 100px;
  }

  .conteudoContainer .linhaConteudo .linhaProdutos .cadaProduto {
    margin-top: 50px;
    width: 250px;
  }

  .conteudoContainer .linhaConteudo .arrowRight{
    display: none;
  }

  body .linhaConteudo .linhaConteudoTxt {
    margin-bottom: 10px;
  }
}

@media (min-width:901px) and (max-width:1000px) {
  .conteudoContainer .linhaConteudo .linhaProdutos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .conteudoContainer .linhaConteudo .linhaProdutos .cadaProduto,
  .conteudoContainer .linhaConteudo .linhaProdutos .cadaProdutoExtra {
    margin-top: 50px;
    width: 250px;
    height: 406px;
  }

  body .linhaConteudo .linhaProdutos .cadaProdutoExtra {
    display: inline;
  }

  .conteudoContainer .linhaConteudo .arrowRight{
    display: none;
  }

  body .linhaConteudo .linhaConteudoTxt {
    margin-bottom: 10px;
  }
}

@media (min-width:1001px) and (max-width:1450px) {
  .conteudoContainer .linhaConteudo .linhaProdutos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .conteudoContainer .linhaConteudo .linhaProdutos .cadaProduto,
  .conteudoContainer .linhaConteudo .linhaProdutos .cadaProdutoExtra {
    margin-top: 50px;
    width: 280px;
    height: 450px;
  }

  body .linhaConteudo .linhaProdutos .cadaProdutoExtra {
    display: inline;
  }

  .conteudoContainer .linhaConteudo .arrowRight{
    display: none;
  }

  body .linhaConteudo .linhaConteudoTxt {
    margin-bottom: 10px;
  }
}

.headerBar .atual {
  color: rgb(211, 244, 245);
  border-bottom: 1px solid rgb(211, 244, 245);
  padding-bottom: 2.5px;
}

.conteudoContainer {
  margin-top: 50px;
}

.linhaConteudo .linhaConteudoTxt {
  font-family: 'Cinzel', Arial;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  padding: 25px 0;
  justify-content: center;
  text-align: center;
  background-image: url("../imagens/backgrounds/back-index-txt.jpg");
  background-position: 50%;
}

.linhaConteudo .linhaConteudoTxt h1{
  font-family: 'Cinzel', Arial;
  font-weight: 500;
  font-size: 35px;
}

.linhaConteudo .linhaProdutos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.linhaConteudo .linhaProdutos .cadaProdutoExtra {
  display: none;
}

.linhaConteudo .linhaProdutos .cadaProduto,
.linhaConteudo .linhaProdutos .cadaProdutoExtra {
  width: 250px;
  border: 1px solid rgba(77, 0, 128, 0.25);
  border-radius: 2.5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  cursor: pointer;
  transition: 0.15s;
  height: 406px;
}

.linhaConteudo .linhaProdutos .cadaProduto:hover,
.linhaConteudo .linhaProdutos .cadaProdutoExtra:hover {
  border: 1px solid rgba(77, 0, 128, 0.25);
  border-radius: 2.5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  cursor: pointer;
}

.linhaConteudo .linhaProdutos .cadaProduto .cadaProdutoTxt,
.linhaConteudo .linhaProdutos .cadaProdutoExtra .cadaProdutoTxt {
  padding: 5px;
}

.linhaConteudo .linhaProdutos .cadaProduto .prodIMG img,
.linhaConteudo .linhaProdutos .cadaProdutoExtra .prodIMG img {
  border-top-right-radius: 2.5px;
  border-top-left-radius: 2.5px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.linhaConteudo .linhaProdutos .cadaProduto .prodNAME h1,
.linhaConteudo .linhaProdutos .cadaProdutoExtra .prodNAME h1 {
  font-size: 15px;
}

.linhaConteudo .linhaProdutos .cadaProduto .prodNAME p,
.linhaConteudo .linhaProdutos .cadaProdutoExtra .prodNAME p {
  font-size: 13px;
  padding-left: 5px;
}

.linhaConteudo .linhaProdutos .cadaProdutoTxt .prodPRICE {
  font-weight: 700;
  margin-top: 10px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
}

.linhaConteudo .linhaProdutos .cadaProdutoTxt .prodDESC{
  margin-top: 5px;
  padding-left: 5px;
  font-size: 14px;
}

.cadaProduto .hoverProduto,
.cadaProdutoExtra .hoverProduto {
  opacity: 0;
  position: relative;
  margin-top: -85px;
  background-color: rgb(255, 255, 255);
  height: 85px;
  padding: 10px;
  transition: 0.15s;
}

.cadaProduto:hover .hoverProduto,
.cadaProdutoExtra:hover .hoverProduto {
  opacity: 1;
}

.cadaProduto .hoverProduto p,
.cadaProdutoExtra .hoverProduto p {
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(169, 99, 235);
}

.linhaConteudo .linhaProdutos .cadaProduto .hoverProduto p:hover,
.linhaConteudo .linhaProdutos .cadaProdutoExtra .hoverProduto p:hover {
  text-decoration: underline;
}

.linhaConteudo .linhaProdutos .cadaProduto .buttonCompre button,
.linhaConteudo .linhaProdutos .cadaProdutoExtra .buttonCompre button {
  width: 100%;
  padding: 10px;
  background-color: rgb(169, 99, 235);
  border: 5px solid rgb(169, 99, 235);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  color: white;
}

.linhaConteudo .linhaProdutos .cadaProduto .buttonCompre button:hover,
.linhaConteudo .linhaProdutos .cadaProdutoExtra .buttonCompre button:hover {
  opacity: 0.8;
}

.linhaConteudo .linhaProdutos .cadaProduto .buttonCompre button:active,
.linhaConteudo .linhaProdutos .cadaProdutoExtra .buttonCompre button:active {
  transform: translate(0, 2px);
  opacity: 1;
}

.linhaConteudo .arrowRight{
  opacity: 0;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.15s;
}

.linhaConteudo .arrowRight img{
  width: 45px;
  height: 45px;
  box-shadow: 0 0 10px 1px rgba(0, 173, 173, 0.5);
  border-radius: 360px;
  cursor: pointer;
  transition: 0.15s;
}

.linhaConteudo .arrowRight img:hover{
  background-color: rgb(156, 240, 240);
  box-shadow: inset 0 0 15px 10px rgba(0, 173, 173, 0.5);
  border-radius: 360px;
}

.linhaConteudo .arrowRight img:active{
  width: 44px;
  height: 44px;
  background-color: rgba(156, 240, 240, 0.2);
  box-shadow: inset 0 0 0px 0px rgba(0, 173, 173, 0.2);
}

.linhaProdutos:hover .arrowRight {
  opacity: 1;
}