.head {

}




#rodape {
  width: 100%;
  height: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(211, 244, 245);
}

.rodapeTexto {
  font-size: 12px;
  color: rgb(58, 58, 58);
  font-weight: 500;
}

.pagSeg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*----------------------- MEIOS DE PAGAMENTO -----------------------*/
#meiosPagamento {
  flex: 1;
  vertical-align: top;
  margin-left: 50px;
  background-color: black;
}

.txtPag {
  display: block;
  margin-bottom: 15px;
}

.imgPag {
  display: inline-block;
}

.bandeira {
  width: 45px;
  vertical-align: top;
  margin-right: 15px;
  padding-top: 5px;
}

.pix {
  vertical-align: top;
  width: 70px;
  padding-top: 5px;
}

/*----------------------- SEGURANÇA -----------------------*/
#segurancaPagamento {
  flex: 1;
  vertical-align: top;
  margin-right: 50px;
  background-color: blue;
}

.txtSeg {
  display: block;
  margin-bottom: 15px;
}

.imgSeg {
  display: inline-block;
}

.segurancaBandeira {
  margin-right: 25px;
  width: 85px;
  padding-top: 5px;
}

/*----------------------- REGISTRO DA MARCA -----------------------*/
.obotiCopy {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 15px
}