@media (min-width:200px) and (max-width:1450px) {
  body .linhaConteudo .linhaConteudoTxt {
    justify-content: space-between;
  }
}

.header {
  background: url("../../imagens/backgrounds/back-lancamentos-header.jpg");
}

.headerBar {
  background-color: rgb(227, 185, 173);
}

.headerBar .atual {
  color: rgb(211, 244, 245);
  border-bottom: 1px solid rgb(211, 244, 245);
  padding-bottom: 2.5px;
}

.conteudoContainer .linhaConteudo .linhaConteudoTxt {
  background-image: url("../../imagens/backgrounds/back-lancamentos-txt.jpg");
  background-size: 2000px;
  margin: 0;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 55px;
  justify-content: center;
  text-align: center;
}

body .conteudoContainer .linhaConteudo .linhaConteudoTxt h1{
font-family: 'Cinzel';
font-weight: 500;
font-size: 35px;
}


.conteudoContainer .linhaProdutos .cadaProduto,
.conteudoContainer .linhaProdutos .cadaProdutoExtra {
  height: 430px;
}

.linhaProdutos .cadaProduto .prodIMG,
.linhaProdutos .cadaProdutoExtra .prodIMG {
  position: relative;
}

.linhaProdutos .cadaProduto .prodIMG p,
.linhaProdutos .cadaProdutoExtra .prodIMG p {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(227, 185, 173);
  color: rgb(119, 65, 50);
  padding: 2.5px;
  font-weight: 500;
}

.linhaProdutos .cadaProduto:hover .prodIMG p,
.linhaProdutos .cadaProdutoExtra:hover .prodIMG p {
  background-color: rgb(240, 196, 184);
  color: rgba(119, 65, 50, 0.8);
}
