@media (min-width:901px) and (max-width:1000px) {
  .conteudoContainer .linhaConteudo .linhaProdutos .cadaProduto,
  .conteudoContainer .linhaConteudo .linhaProdutos .cadaProdutoExtra {
    margin-top: 50px;
    width: 250px;
    height: 470px;
  }
}

@media (min-width:1001px) and (max-width:1450px) {
  .conteudoContainer .linhaConteudo .linhaProdutos .cadaProduto,
  .conteudoContainer .linhaConteudo .linhaProdutos .cadaProdutoExtra {
    margin-top: 50px;
    width: 280px;
    height: 480px;
  }
}

.header {
  background-image: url("../../imagens/backgrounds/back-promocoes-header.avif");
  background-size: 2000px;
}

.headerBar {
  background-color: rgb(179, 7, 4);
}

.headerBar .atual {
  color: rgb(211, 244, 245);
  border-bottom: 1px solid rgb(211, 244, 245);
  padding-bottom: 2.5px;
}


.linhaConteudo .linhaConteudoTxt {
  background-image: url("../../imagens/backgrounds/back-promocoes-txt.avif");
  background-size: 1900px;
}

.linhaConteudo .linhaConteudoTxt h1{
  color: white;
}

.conteudoContainer .linhaProdutos .cadaProduto,
.conteudoContainer .linhaProdutos .cadaProdutoExtra {
  height: 470px;
}

.linhaProdutos .cadaProduto .prodIMG,
.linhaProdutos .cadaProdutoExtra .prodIMG {
  position: relative;
  top: 0;
}

.linhaProdutos .cadaProduto .prodIMG img,
.linhaProdutos .cadaProdutoExtra .prodIMG img {
  position: relative;
}

.linhaProdutos .cadaProduto .prodIMG p,
.linhaProdutos .cadaProdutoExtra .prodIMG p {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color: rgb(179, 7, 4);
  color: white;
  font-weight: 700;
  font-size: 25px;
  padding: 5px;
  width: 100%;
}
