.header {
  background-image: url("../../imagens/backgrounds/back-promocoes-header.avif");
  background-size: 2000px;
}

.headerBar {
  background-color: rgb(179, 7, 4);
}

.headerBar .atual {
  color: rgb(211, 244, 245);
  border-bottom: 1px solid rgb(211, 244, 245);
  padding-bottom: 2.5px;
}


.linhaConteudo .linhaConteudoTxt {
  background-image: url("../../imagens/backgrounds/back-promocoes-txt.avif");
}

.linhaConteudo .linhaConteudoTxt h1{
  color: white;
}

.conteudoContainer .linhaProdutos .cadaProduto {
  height: 470px;
}

.linhaProdutos .cadaProduto .prodIMG {
  position: relative;
  top: 0;
}

.linhaProdutos .cadaProduto .prodIMG img{
  position: relative;
}

.linhaProdutos .cadaProduto .prodIMG p{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color: rgb(179, 7, 4);
  color: white;
  font-weight: 700;
  font-size: 25px;
  padding: 5px;
  width: 100%;
}