.header {
  background: url("../../imagens/backgrounds/back-dicas-header.avif");
}

.headerBar {
  background-color: rgb(72, 186, 54);
}

.headerBar .atual {
  color: rgb(211, 244, 245);
  border-bottom: 1px solid rgb(211, 244, 245);
  padding-bottom: 2.5px;
}

.linhaConteudo .linhaConteudoTxt {
  background-image: url("../../imagens/backgrounds/back-dicas-txt.avif");
  background-size: 1200px;
}

.linhaConteudo .linhaProdutos {
  grid-template-columns: 1fr 40px 1fr 40px 1fr;
}

.linhaConteudo .linhaProdutos .cadaProduto {
  width: 100%;
}

.linhaConteudo .linhaProdutos .cadaProduto img{
  transition: all 0.15s ease;
}

.linhaConteudo .linhaProdutos .cadaProduto:hover img {
  opacity: 0.8;
}