@media (min-width:200px) and (max-width:1150px) {
  body .header .headerMiddle{
    display: none;
  }

  body .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    height: 115px;
    padding-top: 15px;
  }

  body .header .logo {
    display: none;
  }

  body .header .headerRight img{
    margin: 0 20px 0 20px;
  }

  body .headerBar {
    display: none;
  }
}

.header {
  top: 0;
  width: 100%;
  background-color: rgb(169, 99, 235);
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0 150px;
}

.header .logo {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  display: flex;
  align-items: center;
  margin-right: 10px;
}


.header .logo img {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 360px;
  width: 60px;
  cursor: pointer;
}

.header .headerLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cinzel', Arial;
  width: 350px;
}

.header .headerLeft h1 {
  font-family: 'Cinzel', Arial;
  cursor: pointer;
  transition: 0.15s;
  color: rgb(0, 0, 0);
}

.header .headerLeft:hover {
  letter-spacing: 0.5px;
}

.header .headerMiddle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .headerMiddle input{
  flex: 1;
  outline: none;
  padding: 10px;
  font-size: 1em;
  width: 450px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: rgb(107, 107, 107);
}

.header .headerMiddle input:valid,
.header .headerMiddle input:focus {
  border: 1px solid rgba(32, 178, 170, 0.9);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.header .headerMiddle img{
  align-items: top;
  color: rgb(255, 255, 255);
  width: 40px;
  background-color: lightseagreen;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.15s;
}

.header .headerMiddle img:hover {
  background-color: rgba(32, 178, 170, 0.9);
}

.header .headerMiddle img:active {
  padding: 15px;
}

.header .headerRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.header .headerRight img{
  width: 28px;
  margin-right: 35px;
  cursor: pointer;
  transition: 0.15s;
}

.header .headerRight img:hover{
  width: 30px;
}

.header .headerRight img:active{
  width: 40px;
}

.headerBar {
  background-color: rgb(169, 99, 234);
  display: flex;
  justify-content: center;
  transition: 0.15s;
  height: 40px;
  align-items: center;
}

.headerBar h1{
  margin-right: 100px;
  font-weight: 400;
  font-size: 17px;
  color: black;
  cursor: pointer;
  padding-bottom: 5px;
  transition: all 0.15s ease-in-out;
}

.headerBar h1:hover{
  color: rgb(211, 244, 245);
  border-bottom: 1px solid rgb(211, 244, 245);
}

.headerBar h1:active{
  padding-bottom: 1px;
}

.menu{
  top: 0;
  color: black;
  background-color: black;
  width: 100%;
}
